name : deploy the backend
on : 
  push:
    branches:
      - main
jobs:
  build:
    runs-on : ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v4

      - name: login to docker hub
        uses : docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      
      - name : Build and push
        uses : docker/build-push-action@v5
        with :
          context: .
          file : Docker/DockerFile.backend
          push : true
          tags : ${{ secrets.DOCKER_USERNAME }}/todo-app-backend:${{ github.sha }}
        